.example-spacer {
    flex: 1 1 auto;
    }
    .mat-toolbar{
    background-color: #fff;
    }
    .material-icons{
    padding-left: 30px;
    }
    .osg{
    padding-left: 20px;
    color:   #666666;
    padding-top: 0px;
    letter-spacing: 1px;
    }
    .icon{
    color:   #666666;
    padding-top: 10px;
    }
    .mat-card{
    width: 45%;
    padding:0px;
    border-radius: 20px;
    margin-left: 25%;
    margin-top: 10%;
    padding-bottom: 40px;
    }
    .signin{
    text-align: center;
    color:#666666;
    letter-spacing: 1px;
    padding-top: 10px;
    }
    .full-width-field {
    width: 80%;
    margin-left: 30px;
    margin-top: 6px;
    }
    .login{
    padding-left: 40px;
    }
    .Password{
    background-color:rgb(236, 236, 236) ;
    padding-left: 40px;
    padding-top: 5px;
    }
    .label{
    padding-left:20px;
    color:#666666 ;
    letter-spacing: 1px;
    font-size: 13px;
    opacity: 0.8;
    
    
    }
    .mat-raised-button{
    background-color:#005F9E;
    color: white;
    border: none;   
    cursor: pointer;
    border-radius: 5px;
    margin-left: 30%;
    padding-right: 90px;
    padding-left: 90px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 30px;
    }
    .forgotpassword{
    padding-left: 60px;
    color:#666666;
    letter-spacing: 1px;
    padding-top: 10px;
    text-decoration: underline;
    opacity: 0.9;
    }
  
     ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.7em  !important;}