.tyt{
  margin-bottom: 20px; color: #666666;
 font-size: 15px;
 font-weight: 700;
 margin-top: 20px;
 text-indent: 50px;
 cursor: pointer;
}
  
  .tyts{
    font-size: 15px;
    font-weight: 500;
    text-indent: 60px;
    color: #666666; 
    position: relative;
    top: 45px;   
  }
  
  ::ng-deep .mat-tab-label {
  
    width: fit-content;
     
    margin-right: 10px;
    background-color: whitesmoke !important;
    color: #666666;
    font-weight: 700;
    border-radius: 10px !important;
    
  }
  
  ::ng-deep .mat-tab-group{
    width: 1100px;
    margin: 0px 0px 20px 30px;
  }
  
  
  /* Styles for the active tab label */
  ::ng-deep .mat-tab-label.mat-tab-label-active { 
  
    width: fit-content;
  
    background-color: white !important;
    color: #666666;
    font-weight: 700;
    opacity: inherit !important;
  }
  
  ::ng-deep .mat-ink-bar {
    background-color: #005F9E !important;
    height: 5px !important;
  }
  
  .mat-card{
    padding: 20px;
  }    
  
  p{
    color: #666666;
    font-size: 15px;
    font-weight: 500;
  }
  
  .cleft{
    border-right: 2px solid #F5F5F5;
   
  }
  
  
  .btn{
    vertical-align: middle;
    margin-left: 2px;
    margin-top: -10px;
    background-color: #005F9E;
    color: white;
    height: 50px;
    padding: 0 30px
  }  
  .btns1{
    position: relative;
    left: 89%;
    background-color: #005F9E;
    color: white;
    height: 40px;
    vertical-align: middle;
    margin-bottom: 10px;
    margin-top: 14px;
  
  }
  
  .btns{
    position: relative;
    left: 80%;
    background-color: #005F9E;
    color: white;
    height: 50px;
    vertical-align: middle;
    margin-bottom: 10px;
    padding: 0 30px
  }  
    
  .btn2{
    vertical-align: middle;
    margin-left: 30px;
    margin-top: -20px;
    background-color: #005F9E;
    color: white;
    height: 50px;
    padding: 0 40px
  
  }  

  .mat-radio-button ~ .mat-radio-button {
    margin-left: 10px;
  }
  
  .btn1{
    vertical-align: middle;
    margin-left: 15px;
    margin-top: 110px;
    background-color: #005F9E;
    color: white;
    height: 50px;
    padding: 0 40px
  
  }   
  
  
  table{
    width: 100%;
  }
  
  th{
    font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  font-weight: 700;
  
  
  color: #666666;
    border: 2px solid #F5F5F5;
    background: #EEEEEE;
  border-radius: 5px;
  }
  
  th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    /* padding: 0; */
    padding-left: 15px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  td{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
  
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
  
      color: #666666;
    }
  
    ::ng-deep.mat-paginator-container{
    justify-content: left !important;
  }
  
  
  ::ng-deep.mat-paginator-range-label {
  
    display: flex !important;
    align-items: baseline !important;
  
    width: 120px !important;
  }
  ::ng-deep.mat-paginator-page-size {
  
  visibility: hidden;
  order: 3;
  }
  ::ng-deep.mat-paginator-navigation-previous {
    
  
  }
  ::ng-deep.mat-paginator-navigation-next {
    
  
  }
  

  ::ng-deep .mat-sort-header-arrow {
    opacity: 1 !important;
   }

   ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #666666!important;
  
  }

  .pack{
  padding: 40px 20px 20px 20px;
  }  
  
  .back{
  padding: 20px;
  border: 1px solid #005F9E;
  
  background: lightblue;
  }
  
  .one{
  background-color: #005F9E;
  color: white;
  margin-left: 10px;
  margin-top: 20px;
  }
  
  .multi{
  padding-bottom: 40px;
  }
  
  .con1{
  vertical-align: middle;
  padding-right: 40px;
  }