<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <p class="tyt"><span (click) ="menu();">Menu</span> > <span>Fireware Manager</span> > <span (click)="dash();">Dashboard</span> > <span>Customer Ashok Leyland</span></p>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>

<div class="container-fluid mainpg">
    <div class="row">
        <div class="col-sm-6 col-lg-4" >
            <mat-card class="imgs" >
                <!--<button mat-raised-button class="btn" dis color="primary">Total Number Of Devices</button>-->
                <p class="btn">Total Number Of Devices</p>
                  <div class="gray">
                   <h3>{{this.TotalDevice}}</h3>
                   <p>Devices Count</p>
                     
                  </div>

                  <div class="container-fluid ">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-lg-6 cleft">
                          
                                <h3>116</h3>
                                <p>TAP66</p>
                          
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6">
                            <div class="cright">
                                <h3>66899</h3>
                                <p>TAP76</p>
                            </div>
                        </div>

                    </div>
                </div> 
            </mat-card>
             
        </div>
        <div class="col-sm-6 col-lg-4" >
            <mat-card class="imgs" >
             
                <p class="btn">Reporting Status</p>
                  <div class="gray">
                   <h3>{{this.ReportStatus}}</h3>
                   <p>Devices Count</p>
                     
                  </div>
                  <div class="container-fluid ">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-lg-6 cleft">
                          
                                <h3>116</h3>
                                <p>TAP66</p>
                          
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6">
                            <div class="cright">
                                <h3>66899</h3>
                                <p>TAP76</p>
                            </div>
                        </div>

                    </div>
                </div> 
            </mat-card>
             
        </div>
        <div class="col-sm-6 col-lg-4" >
            <mat-card class="imgs" >
             
                <p class="btn">Active Packet Status</p>
                  <div class="gray">
                   <h3>{{this.activepacket}}</h3>
                   <p>Devices Count</p>

                  </div>

                  <div class="container-fluid ">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-lg-6 cleft">
                          
                                <h3>116</h3>
                                <p>TAP66</p>
                          
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6">
                            <div class="cright">
                                <h3>66899</h3>
                                <p>TAP76</p>
                            </div>
                        </div>

                    </div>
                </div> 
            </mat-card>
             
        </div>

        <div class="col-sm-6 col-lg-4" >
            <mat-card class="imgs" >
              
                <p class="btn">Invalid Packet Status</p>
                  <div class="gray">
                   <h3>66015</h3>
                   <p>Devices Count</p>
                     
                  </div>

                  <div class="container-fluid ">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-lg-6 cleft">
                          
                                <h3>116</h3>
                                <p>TAP66</p>
                          
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6">
                            <div class="cright">
                                <h3>66899</h3>
                                <p>TAP76</p>
                            </div>
                        </div>

                    </div>
                </div> 
            </mat-card>
             
        </div> 

        <div class="col-sm-6 col-lg-4" >
            <mat-card class="imgs" >
              
                <p class="btn">48 Hrs > NRD > 24 Hrs</p>
                  <div class="gray">
                   <h3>66015</h3>
                   <p>Devices Count</p>
                     
                  </div>

                  <div class="container-fluid ">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-lg-6 cleft">
                          
                                <h3>116</h3>
                                <p>TAP66</p>
                          
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6">
                            <div class="cright">
                                <h3>66899</h3>
                                <p>TAP76</p>
                            </div>
                        </div>

                    </div>
                </div> 
            </mat-card>
             
        </div>
        <div class="col-sm-6 col-lg-4" >
            <mat-card class="imgs" >
             
                <p class="btn">NRD > 48 Hrs</p>
                  <div class="gray">
                   <h3>66015</h3>
                   <p>Devices Count</p>
                     
                  </div>

                  <div class="container-fluid ">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-lg-6 cleft">
                          
                                <h3>116</h3>
                                <p>TAP66</p>
                          
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6">
                            <div class="cright">
                                <h3>66899</h3>
                                <p>TAP76</p>
                            </div>
                        </div>

                    </div>
                </div> 
            </mat-card>
             
        </div>

      
        
    </div>
</div>