.main{
    background: white;
    margin-top: 3px;
    width: 100%;
    
}

.head{
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #666666;
    font-weight: 500;
    padding-bottom: 13px;
    padding-top: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.mainpg{
    
    background: white;
    width: 100%;
    padding: 20px 100px 60px 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.tyt{
    text-align: center; margin-bottom: 20px; color: #666666;
    font-size: 15px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 40px;
   
}

.imgs{
    text-align: center;
     border: 2px solid #666 !important;
     border-radius: 10px; 
     color: #666666;
     background: #F5F5F5;
     padding-bottom: 50px;
     margin-top: 10px;
     cursor: pointer;  
}

.ins{
    font-size: xx-large;
    padding-top: 25px;
    padding-bottom: 50px;
}
.imgs:hover{
    background:  #005F9E !important;
    border: 2px solid#005F9E !important;
    color: white !important;
}

@media only screen and (max-width:768px) {

    .mainpg{
    
        background: white;
        width: 100%;
        padding: 20px 50px 60px 50px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    }
 
    
    .head{
        font-size: 0px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.05em;
        color: #666666;
        font-weight: 300;
        padding-bottom: 13px;
        padding-top: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

